*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000000;
    /* background-color: #000000; */
}
header {
    max-height: 32px;
}
.div{
    display: flex;
    justify-content: space-between;
    background-color: #083c6c;
    align-items: center;
    padding: 0;
    height: 32px;
    overflow: hidden;
}
.div .logo-device {
    display: flex;
    gap: 20px;
    height: 32px;
    align-items: center;
}
.device {
    display: flex;
    align-items: center;
    margin: 10px;
}
.div .logo-device .logo  {
    padding-left: 10px;
    height: 32px;
    /* margin-top: 10px; */
}
.div .logo-device .logo img{
    width: 178px;
    height: 25px;
}
.div  .logo-device .device ul{
    list-style: none;
    display: flex;
    /* align-items: center; */
    gap: 10px;
    /* align-items: end; */
    padding: 0;
    margin: 0;
}
.div .logo-device .device ul li a i {
    font-size: 22px;
}
.div .logo-device .device ul li .active{
    color: white;
}
.div .logo-device .device ul li .disactive{
    color: rgba(255, 255, 255, 0.557);
}
.div .logo-device .device ul li .disactive:hover{
    color: white;
}

.title,.download {
    display: flex;
}
.div .title{
    gap: 10px;
    font-size: 16px;
    align-items: center;
    color: white;
    font-weight: bold;
    
}
.title i {
    color: rgba(255, 255, 255, 0.557);
    font-size: 25px;
}
.download {
    padding: 10px 20px;
    gap: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    color: white;
    background-color: #00a6eb;
}
.container-fluid {
    padding:10PX 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 1px -5px 15px 0px gray; */
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}
.container-fluid .logo {
    width: 280px;
    display: flex;
    background-color: #FFFFFF;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 342;
}
.logo .logo-pic {
    width: 26px;
}
.logo .logo-pic img {
    width: 100%;
}
.logo .title {
    font-size: 26px;
    font-weight: bold;
}
.bar-search-n-m-p {
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.bar-search {
    display: flex;
    gap: 20px;
    position: relative;
    align-items: center;
}
.bar-search .bx-menu {
    font-size: 32px;
    color: #083c6c;
}
.bar-search .search {
    width: 320px;
}
.bar-search .search input{
    width: 100%;
    padding: 7px 38px 7px 8px ;
    font-size: 17px;
    outline: none;
}
.bar-search .search .fa-magnifying-glass {
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 15px;
}
.n-m-p {
    display: flex;
    gap: 15px;
    align-items: center;
    /* box-shadow: 0px 0px 1px 20px; */
}
.n-m-p .notification  ,.n-m-p .message  { 
    position: relative;
}
.notification .fa-magnifying-glass {
    display: none;
}
.search1 {
    display: none;
}
@media (max-width : 1198px) {
    .container-fluid {
        justify-content: unset;
    }
    .container-fluid .logo {
        width: 200px;
    }
    .bar-search .search{
        display: none;
    }
    
    .bar-search-n-m-p {
        width: 100%;
    }
    
}
@media (max-width : 767px) {
    .div .title , .n {
        display: none;
    }

    .div {
        justify-content: space-between;
    }
}

@media (max-width : 992px) {
    .notification .fa-magnifying-glass {
        display: block;
    }
    .container-fluid .logo .title {
        display: none;
    }
    .container-fluid .logo {
        width: fit-content;
        margin-right: 10px;
    }
    .bar-search-n-m-p{
        /* justify-content: end; */
    }
    .device {
        display: none;
    }
    .search1 {
        display: block;
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        padding: 20px;
        box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
        background: white;
        z-index: 9999;
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
    }
    .show1{
        top: 100px;
        left: 0;
        right: 0;
        padding: 20px;
        box-shadow: 0px 0px 15px 0px rgba(1, 41, 112, 0.1);
        background: white;
        z-index: 9999;
        transition: 0.3s;
        opacity: 1;
        visibility: visible;

    }
    .search1 input {
        width: 100%;
        padding: 7px 38px 7px 8px;
    }
    .search1 i {
        font-size: 16px;
        position: absolute;
        top: 30px;
        right: 40px;
    }
}
.n-m-p .notification i ,.n-m-p .message i {
    font-size: 22px;
}
.n-m-p .message div ,.n-m-p .notification div {
    position: absolute;
    top: -5px;
    right: -6px;
}
.n-m-p .message div {
    width: 18px;
    height: 18px;  
    background-color: green;
    /* padding: 3px 6px; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    font-size: 12px;
    color: rgb(255, 255, 255);
}
.n-m-p .notification div {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00a6eb;
    font-size: 12px;
    padding: 3px 6px;
    border-radius: 0.375rem;
    color: white;
}
.n-m-p .profile {
    display: flex;
    gap: 8px;
    align-items: center;    
}

.n-m-p .profile .name .name  {
    font-weight: bold;
    cursor: pointer;
}
.n-m-p .profile .name .infos  {
    display: none;
}

.n-m-p .profile .name  a {
    color: #000;
    text-decoration: none;
}
.n-m-p .profile .show {
    position: relative;
}
.n-m-p .profile .show .infos{
    position: absolute;
    display: block;
    top: 45px;
    right: 10px

}

.n-m-p .profile .show ul .same{
}

.n-m-p .profile .show ul{
    position: relative;
    z-index: 22;
    width: 240px;
    background-color: white;
}
.n-m-p .profile .show ul::after{
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-color:rgb(255, 255, 255);
    z-index: 1;
    transform: rotate(45deg);
    
    top: -10px;
    right: 20px;
}
.n-m-p .profile .show ul .first{
    text-align: center;
    padding: 10px 25px ;
}
.n-m-p .profile .show ul .first span ,.n-m-p .profile .show ul .same {
    font-size: 14px;
}
.n-m-p .profile .show ul .first h6{
    font-size: 18px;
}
.n-m-p .profile .show ul .same:hover{
    background-color: #f6f9ff;
}
.n-m-p .profile .show ul .same{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px ;
    font-weight: normal;
}
.show ul li:not(:last-child) {
    border-bottom: 1px solid #ccc; /* Adjust the border style and color as needed */
}
.n-m-p .profile .show ul .same i{
    font-size: 18px;
}



.n-m-p .profile .name i {
    font-size: 10px;
}
.n-m-p .profile .pic {
    width: 36px;
}

.n-m-p .profile .pic img {
    width: 100%;
    border-radius: 50%;
}
aside {
    position: fixed;
    top: 93px;
    left: -300px;
    bottom: 0;
    cursor: pointer;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    transition: 0.5s;
}
aside .elements {
    list-style: none;
    padding: 0;
}
aside .elements .element:hover{
    background-color: #F6F9FF;
    color: #4154f1;
}
.sub li a:hover{
    color: #4154f1;
}
aside .elements .element{
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: #012970;

}
aside .elements .active .element{
    color: #4154f1;
}
aside .elements li {
    border-radius: 4px;
    margin-bottom: 5px;
}
aside .elements .active{
    background-color: #F6F9FF;
}
.showing .element i{ 
    transform: rotate(180deg);
}
.showing .sub{
    display: block;
}
aside .elements .showing .element {
    background-color: #F6F9FF;
    color: #4154f1;
}
aside .elements .element i{
    font-size: 12px;
    transition: 0.3s;

    /* transform: rotate(180deg); */
    /* font-weight:; */
}
ul {
    list-style: none;
    padding: 0;
}
.sub {
    display: none;
}
.sub li a {
    padding: 10px 0 10px 40px;
    width: 100%;
    display: flex;
    text-decoration: none;
    align-items:center ;
    gap: 5px;
    /* list-style:; */
    color: #012970;
}
.sub li a i {
    font-size: 6px;
}